<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h4><i class="bi bi-map"></i> Contact Us</h4>
				<p>Do not hesitate to contact us if you have any questions or feature requests:</p>
				<p>
					1st Floor, H.Thonada<br>
					20045 Janavaree Magu<br>
					Phone: +960 330 3678<br>
					Fax: +960 331 3678<br>
					Email: <a href="#">info@plankton.com.mv</a>
				</p>
			</div>
			<div class="col-sm-4">
				<h4><i class="bi bi-twitter"></i> Recent Tweets</h4>
			</div>
			<div class="col-sm-4">
				<h4><i class="bi bi-envelope"></i> Newsletter</h4>
				<p>
					Enter your e-mail below to subscribe to our free newsletter.<br>
					We promise not to bother you often! 
				</p>
				<form id="emailForm" action="/submit-form" method="post" class="row gx-2 gy-2 align-items-center">
					<div class="col-auto">
						<input class="form-control"
							   type="email"
							   id="email"
							   name="email"
							   placeholder="Enter your email"
							   aria-label="Submit" required>
					</div>
					<div class="col-auto">
						<button class="btn btn-outline-success" type="submit">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</footer>
