@page "/about-us"
@rendermode InteractiveServer
<PageTitle>About Us</PageTitle>

<div class="b-about-block">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-offset-2">
				We are Engineers, Consultants and Contractors
			</div>
		</div>
	</div>

</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">About Us</h2>
		</div>
		<div class="col-sm-6">
			<h3 class="headline">
				<span>Plankton Engineering Pvt Ltd</span>
			</h3>
			<p style="text-align:justify">
				Plankton Engineering Pvt. Ltd. was established aiming to leverage the expertise, know-how and experience gained in the field of electromechanical engineering. We are mainly specialized in power plant related works, including
			</p>
			<ul class="ft-list">
				<li>Design and installation of Synchronizing Panel Board.</li>
				<li>Supply and installation of Diesel Generators.</li>
				<li>Installation and commission of Medium Voltage Equipment.</li>
				<li>Maintenance of Diesel Generators and Electrical Systems.</li>
				<li>Design Diesel Power Plant, Civil, Mechanical and Electrical systems.</li>
				<li>Power system assessments and performance evaluation.</li>
				<li>Research &amp; preparation of technical documents.</li>
				<li>Design &amp; installation of Earthing systems, DC power supply systems.</li>
				<li>Power Plant sound proofing and ventilation systems.</li>
				<li>Design and Install Solar PV Systems (Solar-Diesel Hybrid).</li>
			</ul>
		</div>
		<div class="col-sm-8">
			<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="margin-top:73px">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="/images/about-us/slide-1.jpg" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="/images/about-us/slide-2.jpg" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="/images/about-us/slide-3.jpg" class="d-block w-100" alt="...">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				<span>Our Mission</span>
			</h2>
		</div>
		<div class="col-sm-12 text-center">
			<p style="margin-bottom:30px">
				Our mission is to maintain our standard in the industry as a leader by providing cost-effective solutions based on Engineering Technology and Consultancy Services at International standard.
			</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				<span>Our Vision</span>
			</h2>
		</div>
		<div class="col-sm-12 text-center">
			<p style="margin-bottom:30px">
				Our vision is to maintain ourselves as the premier electrical engineering company in the Maldives and one of the finest in South Asia.
			</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				<span>Quality Policy</span>
			</h2>
		</div>
		<div class="col-sm-12 text-center">
			<p style="margin-bottom:30px">
				We are committed to satisfy applicable requirements and continual improvement of the quality management system to gain trust of our clients.
			</p>
			<a href="/files/Quality_Policy.pdf" target="_blank" class="btn btn-primary">Read Our Quality Policy</a>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				<span>Energy World</span>
			</h2>
			<h4>Visit our showroom</h4>
		</div>
		<div class="col-sm-12 text-center">
			<p style="margin-bottom:30px">
				Energy World is the showroom of Plankton Engineering. Our showrooms are located on
				Janavaree Magu and Ameenee Magu of the capital city Male' and in Addu Hithadhoo. We showcase and provide high quality electrical fittings
				and components required for home and power plants.
			</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				<span>Our Clients</span>
			</h2>
			<h4>Meet some of our major clients</h4>
		</div>
		<div class="col-sm-12 text-center">
			<p>
				Plankton Engineering is a reputable and reliable Engineering Company in the industry for
				providing excellent services in the field of Electrical Engineering and Control. We have been
				working in the field for a decade and gained trust of hundreds of clients. We work on <a href="/projects">projects</a> with the Government, Resorts, NGOs, Utilities Companies and other
				private companies in the Maldives.
			</p>
			<div class="row" style="margin-top:30px; margin-bottom:30px;">

				<div class="col-sm-2">
					<div class="user-avatar text-center">
						<img width="104" class="img-responsive center-block" style="padding:19px 0" src="/images/about-us/clients/logo_coastline.jpg" alt="..." title="Coastline Group of Companies">
						<p class="text-muted">Coastline Group of Companies</p>
					</div>
				</div>

				<div class="col-sm-2">
					<div class="user-avatar text-center">
						<img width="120" class="img-responsive center-block" style="padding:4px 0" src="/images/about-us/clients/logo_fenaka.png" alt="..." title="Fenaka Corporation Limited">
						<p class="text-muted">Fenaka Corporation Limited</p>
					</div>
				</div>

				<div class="col-sm-2">
					<div class="user-avatar text-center">
						<img width="110" class="img-responsive center-block" style="padding-top:2px" src="/images/about-us/clients/logo_haza.png" alt="..." title="Haza Construction">
						<p style="padding-top:10px; padding-bottom:10px" class="text-muted">Haza Construction</p>
					</div>
				</div>

				<div class="col-sm-2">
					<div class="user-avatar text-center">
						<img width="58" class="img-responsive center-block" style="padding-top:1px" src="/images/about-us/clients/logo_customs.png" alt="..." title="Maldives Customs Service">
						<p class="text-muted">Maldives Customs Service</p>
					</div>
				</div>

				<div class="col-sm-2">
					<div class="user-avatar text-center">
						<img width="104" class="img-responsive center-block" style="padding-top:3px" src="/images/about-us/clients/logo_mtcc.png" alt="..." title="Maldives Transport and Contracting Company Plc">
						<p style="padding-top:2px; padding-bottom:3px" class="text-muted">MTCC</p>
					</div>
				</div>

				<div class="col-sm-2">
					<div class="user-avatar text-center">
						<img width="80" class="img-responsive center-block" style="padding-top:1px" src="/images/about-us/clients/logo_rcnc.png" alt="..." title="Rasheed Carpentry &amp; Construction Pvt Ltd">
						<p class="text-muted" style="margin-bottom:5px;">RcNc Pvt Ltd</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<div class="user-avatar text-center">
						<img width="80" class="img-responsive center-block" style="padding: 20px 0px 20px" src="/images/about-us/clients/logo-batch.png" alt="..." title="Batch Construction">
						<p class="text-muted" style="margin-bottom:5px;">Batch Construction</p>
					</div>
				</div>

				<div class="col-sm-2">
					<div class="user-avatar text-center">
						<img width="80" class="img-responsive center-block" style="padding-top:1px" src="/images/about-us/clients/logo-abc.png" alt="..." title="ABC Construction">
						<p class="text-muted" style="margin-bottom:5px;">ABC Construction</p>
					</div>
				</div>

				<div class="col-sm-2">
					<div class="user-avatar text-center">
						<img width="80" class="img-responsive center-block" style="padding: 19px 0px 18px" src="/images/about-us/clients/logo-rainbow.png" alt="..." title="Rainbow">
						<p class="text-muted" style="margin-bottom:5px;">Rainbow</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="headline-lg">
				Our Merchants
			</h2>
			<h4>Meet our foreign suppliers</h4>
		</div>
		<div class="col-sm-12">
			<p></p>
		</div>
	</div>
	<div class="row" style="margin-bottom:20px">

		<div class="col-sm-3">
			<div class="user-avatar text-center">
				<img class="img-responsive center-block" src="/images/branding/logo_panasonic_2.png" style="height:50px" alt="..." title="Panasonic" loading="lazy">
				Panasonic<br>
				<small>Authorized Dealer</small>
				<p class="text-muted">Japan</p>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="user-avatar text-center">
				<img class="img-responsive center-block" src="/images/branding/logo_dse.png" style="height:50px;" alt="..." title="Deep Sea Electronics Plc." loading="lazy">
				Deep Sea Electronics Plc
				<br>
				<small>Re-seller</small>
				<p class="text-muted">United Kingdom</p>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="user-avatar text-center">
				<img class="img-responsive center-block" src="/images/branding/logo_delab.png" style="height:50px;" alt="..." title="Delab Scientific" loading="lazy">
				DELAB Scientific<br>
				<small>Authorized Distributor</small>
				<p class="text-muted">Malaysia</p>
			</div>
		</div>


		<div class="col-sm-3">
			<div class="user-avatar text-center">
				<img class="img-responsive center-block" src="/images/branding/logo_hex.png" style="height:50px;" alt="..." title="Brass Copper &amp; Allow (I) Ltd." loading="lazy">
				HEX, Brass Copper &amp; Alloy (I) Ltd<br>
				<small>Authorized Dealer</small>
				<p class="text-muted">India</p>
			</div>
		</div>


		<div class="col-sm-3">
			<div class="user-avatar text-center" data-toggle="tooltip" data-placement="top" title="" data-original-title="Plankton Engineering is the Authorized Dealer of IndoAsian Switchgear in Maldives">
				<img class="img-responsive center-block" src="/images/branding/logo_indoasian_2.png" style="height:50px" alt="..." title="IndoAsian" loading="lazy">
				IndoAsian<br>
				<small>Authorized Dealer</small>
				<p class="text-muted">India</p>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="user-avatar text-center">
				<img class="img-responsive center-block" src="/images/branding/logo_cetinka_2.png" style="height:50px" alt="..." title="Cetinka" loading="lazy">
				Cetinkaya Pano<br>
				<small>Re-seller</small>
				<p class="text-muted">Istanbul</p>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="user-avatar text-center">
				<img class="img-responsive center-block" src="/images/branding/logo_ide_2.png" style="height:50px" alt="..." title="IDE" loading="lazy">
				IDE<br>
				<small>Re-seller</small>
				<p class="text-muted">Spain</p>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="user-avatar text-center">
				<img class="img-responsive center-block" src="/images/branding/logo_visbo.png" style="height:50px" alt="..." title="Visbo" loading="lazy">
				Visbo<br>
				<small>Re-seller</small>
				<p class="text-muted">China</p>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="user-avatar text-center">
				<img class="img-responsive center-block" src="/images/branding/logo_rustoleum.png" style="height:50px;" alt="..." title="Rust-Oleum Industrial Paints" loading="lazy">
				Rust-Oleum
				<p class="text-muted">United States</p>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="user-avatar text-center">
				<img class="img-responsive center-block" src="/images/branding/logo_spero.png" style="height:50px;" alt="..." title="Spero Forge Corporation" loading="lazy">
				Spero Forge Corporation
				<p class="text-muted">Taiwan</p>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="user-avatar text-center">
				<img class="img-responsive center-block" src="/images/branding/logo_yanan.png" style="height:50px;" alt="..." title="Yan'an" loading="lazy">
				Fujian Yanan Power Group
				<p class="text-muted">China</p>
			</div>
		</div>

	</div>
</div>


@code {

}
