@page "/contact-us"
@rendermode InteractiveServer
@inject IConfiguration Configuration

<PageTitle >Contact Us</PageTitle>

@if (!string.IsNullOrEmpty(apiKey))
{
    <GoogleMap ApiKey="@apiKey"
               Center="new GoogleMapCenter(4.172705, 73.512052)"
               Height="400"
               Width="0"
               Zoom="17"
               Markers="markers" />
}
else 
{
    <p>Google Maps is currently unavailable.</p>
}


@code {

    // Retrieve the Google Maps API key 
    private string apiKey;

    protected override void OnInitialized()
    {
        // If config value is null, initialize with an empty string
        apiKey = Configuration["GoogleMaps:ServiceApiKey"] ?? "";
    }


    List<GoogleMapMarker> markers = new()
    {
        new GoogleMapMarker()
        {
            Position = new GoogleMapMarkerPosition(4.173578, 73.516054) ,
            Title = "Plankton Engineering Office",

        },
        new GoogleMapMarker()
        {
            Position = new GoogleMapMarkerPosition(4.171701, 73.508057) ,
            Title = "Energy World",
        }
    };
}
