@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="wrapper">
	<div class="home-slider"></div>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="slides/cover-panel.png" height="500" class="d-block" alt="Electrical cover panel" loading="lazy">
                </div>
                <div class="carousel-item">
                    <img src="slides/cover-panel.png" height="500" class="d-block" alt="Electrical cover panel" loading="lazy">
                </div>
                <div class="carousel-item">
                    <img src="slides/cover-panel.png" height="500" class="d-block" alt="Electrical cover panel" loading="lazy">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
	<div class="home-services">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <ul>
                        <li>
                            <i class="bi bi-gear"></i>
                            <p>Quality <span>&amp; Efficiency</span> </p>
                        </li>
                        <li>
                            <i class="bi bi-hand-thumbs-up"></i>
                            <p>
                                Realibilty <span> &amp; Saftey</span>
                            </p>
                        </li>
                        <li>
                            <i class="bi bi-wrench"></i>
                            <p>
                                Operation <span> &amp; Maintance</span>
                            </p>
                        </li>
                        <li>
                            <i class="bi bi-envelope"></i>
                            <p>
                                24/7 Support <span>by e-mail</span>
                            </p>
                        </li>
                    </ul>
                </div>
                
                <div class="col-md-5 d-none d-md-block">
                    <p class="lead">We are Engineers, Consultants, Contractors.</p>
                </div>
            </div>
        </div>
    </div>
     
	<div class="container showcase">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="headline-lg">We Design, Build &amp; Install Panel Boards</h2>
                <h4 class="text-theme-secondary">With Warranty and Workmanship</h4>
                <div class="browser-showcase d-flex justify-content-center">
                    <img style="width: 60%; padding-bottom: 50px;" src="images/newpanels.jpg" class="image-fluid" alt="Panel thingies" loading="lazy">
                </div>
            </div>
        </div>
    </div>
	<div class="main-services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="services">
                        <div class="service-item">
                            <i class="bi bi-check-circle-fill"></i>
                            <div class="service-desc">
                                <h4>Metering Panel</h4>
                                <p>Space constraint is a challenge for customers and we provide solutions for the client by offering options on dimensins of the panel.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services">
                        <div class="service-item">
                            <i class="bi bi-check-circle-fill"></i>
                            <div class="service-desc">
                                <h4>ATS Panel</h4>
                                <p>With an Automatic Transfer Switch (ATS), power failures are detected immediately and the transition from utility power to generator power is seamless.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services">
                        <div class="service-item">
                            <i class="bi bi-check-circle-fill"></i>
                            <div class="service-desc">
                                <h4>Generator Synchronizing Panel</h4>
                                <p>We use Gen-set controllers from Deepsea Electronic PLC, UK. Generator start up, speed control and voltage control, synchronizing and load sharing can never be more simpler.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="services">
                        <div class="service-item">
                            <i class="bi bi-check-circle-fill"></i>
                            <div class="service-desc">
                                <h4>Distribution Panel</h4>
                                <p>Our distribution panels are well equipped with high quality protective circuit breakers to ensure the safety of your electrical feed.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services">
                        <div class="service-item">
                            <i class="bi bi-check-circle-fill"></i>
                            <div class="service-desc">
                                <h4>Switchgears</h4>
                                <p>We supply and distribute Indoasian and Panasonic Switchgears in different technical specifications, depending on the area of application.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services">
                        <div class="service-item">
                            <i class="bi bi-check-circle-fill"></i>
                            <div class="service-desc">
                                <h4>VFD Control Panel</h4>
                                <p>The panel comes with necessary soft-starter, MCCB, harmonic filters, bypass to keep the system running even if VFD fails.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="responsive-showcase">
        <div class="container">
            <div class="row">
                <div class="responsive-design">
                    <div id="content" class="tab-content tab-content-custom">
                        <div class="tab-pane fade active show" id="lightning">
                            <div class="col-md-8 lightning">
                                <h2 class="headline-lg headline-lg_left first-child">Lighting Protection Solutions</h2>
                                <p class="lead text-muted">
                                    As engineers, we provide professional consultancy and solutions to ensure the safety of your homes,
                                    power plants and other buildings from destructive impacts of lightning & thunderstorms.
                                    <br><br>
                                    We also provide tailored-made lightning protection systems specially designed for industries
                                    such as airports, factories, resorts, power plants and oil storages in accordance with standards and regulations.
                                </p>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="/images/indelec-light.png" loading="lazy">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="breaker">
                            <div class="col-md-8 lightning">
                                <h2 class="headline-lg headline-lg_left first-child">Simplified Power Protection</h2>
                                <p class="lead text-muted">
                                    Your safety is our priority. Our engineers have wisely chosen world’s familiar vendors to supply high quality circuit breakers
                                    designed to protect electrical circuits from damage caused by short circuits or overload.
                                    <br><br>
                                    We also offer power protection for industrial applications such as AC Protection Systems,
                                    Battery Protection Systems, Lightning Protection Systems, Surge Protection Systems, Auto-Phase Selector, Room Temperature controllers and Servo Voltage Stabilizers.
                                </p>
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid" src="/images/elec-protection.png" loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 clearfix" style="position:relative">
                        <ul class="nav nav-pills text-center">
                            <li class="">
                                <a class="tabs-custom" href="#lightning" data-bs-toggle="tab" aria-expanded="true">
                                    <svg class="pills-lightning" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 595.3 841.9" style="enable-background:new 0 0 595.3 841.9;" xml:space="preserve">
                                        <path d="M405.4,521.5c-3,0-6.5,0-10.7,0l35.7-44.1c32.1-10.7,54.8-40.5,54.8-76.2c0-44.1-35.7-80.4-80.4-80.4
	                                        c-16.1,0-31,4.8-43.5,13.1c-12.5-53-60.1-92.9-116.7-92.9C178.6,240.6,125,294.7,125,360.8c0,54.8,36.3,100.6,86.3,115.5l-13.7,38.1
	                                        c-65.5-20.2-112.5-81-112.5-153c0-88.7,71.4-160.7,160.1-160.7c60.1,0,112.5,33.3,139.9,82.1c6.5-1.2,13.7-1.8,20.2-1.8
	                                        c66.7,0,120.2,53.6,120.2,120.2C525.6,467.4,472.1,521.5,405.4,521.5z"></path>
                                        <polygon points="285.1,381.1 385.7,381.1 325.6,481.1 395.3,481.1 265.5,641.8 301.2,521.5 235.1,521.5 "></polygon>
                                    </svg>
                                </a>
                            </li>
                            <li class="">
                                <a class="tabs-custom" href="#breaker" data-bs-toggle="tab" aria-expanded="false">
                                    <svg class="pills-breaker" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52.1 100" style="enable-background:new 0 0 52.1 100;" xml:space="preserve">
                                    <rect x="22.9" y="55.2" width="6.3" height="2.9"></rect>
                                    <path d="M40.2,15.3V24h-8.5v-8.8h-1.5V24h-8.5v-8.8h-1.5V24h-8.5v-8.8h-1.5V24v3.6v42v3.6v8.8h1.5v-8.8h8.5v8.8h1.5v-8.8h8.5v8.8
	                                        h1.5v-8.8h8.5v8.8h1.5v-8.8v-3.6v-42v-3.6v-8.8H40.2z M16.1,35.4c-0.7,0-1.2-0.5-1.2-1.2c0-0.7,0.5-1.2,1.2-1.2
	                                        c0.7,0,1.2,0.5,1.2,1.2C17.3,34.8,16.7,35.4,16.1,35.4z M30.3,60.2h-8.5V37h8.5L30.3,60.2L30.3,60.2z"></path>
                                        <circle cx="16.1" cy="34.2" r="0.8"></circle>
                                        <path d="M14,17.1c-1.2,1.2-1.2,3.1,0,4.2c1.2,1.2,3.1,1.2,4.2,0c1.2-1.2,1.2-3.1,0-4.2C17.1,15.9,15.2,15.9,14,17.1z M17.6,20.6
	                                        c-0.8,0.8-2.1,0.8-2.9,0c-0.8-0.8-0.8-2.1,0-2.9c0.8-0.8,2.1-0.8,2.9,0C18.4,18.5,18.4,19.8,17.6,20.6z"></path>
                                        <polygon points="16.9,18.2 16.2,18.9 15.4,18.2 15.1,18.4 15.9,19.2 15.1,19.9 15.4,20.2 16.2,19.4 16.9,20.2 17.2,19.9 16.4,19.2
	                                        17.2,18.4 "></polygon>
                                        <path d="M24,17.1c-1.2,1.2-1.2,3.1,0,4.2c1.2,1.2,3.1,1.2,4.2,0c1.2-1.2,1.2-3.1,0-4.2C27,15.9,25.1,15.9,24,17.1z M27.5,20.6
	                                        c-0.8,0.8-2.1,0.8-2.9,0c-0.8-0.8-0.8-2.1,0-2.9c0.8-0.8,2.1-0.8,2.9,0C28.3,18.5,28.3,19.8,27.5,20.6z"></path>
                                        <polygon points="26.8,18.2 26.1,18.9 25.3,18.2 25.1,18.4 25.8,19.2 25.1,19.9 25.3,20.2 26.1,19.4 26.8,20.2 27.1,19.9 26.3,19.2
	                                        27.1,18.4 "></polygon>
                                        <path d="M33.9,17.1c-1.2,1.2-1.2,3.1,0,4.2c1.2,1.2,3.1,1.2,4.2,0c1.2-1.2,1.2-3.1,0-4.2C37,15.9,35.1,15.9,33.9,17.1z M37.5,20.6
	                                        c-0.8,0.8-2.1,0.8-2.9,0c-0.8-0.8-0.8-2.1,0-2.9c0.8-0.8,2.1-0.8,2.9,0C38.3,18.5,38.3,19.8,37.5,20.6z"></path>
                                        <polygon points="36.8,18.2 36,18.9 35.3,18.2 35,18.4 35.8,19.2 35,19.9 35.3,20.2 36,19.4 36.8,20.2 37,19.9 36.3,19.2 37,18.4 "></polygon>
                                        <path d="M14,75.5c-1.2,1.2-1.2,3.1,0,4.2c1.2,1.2,3.1,1.2,4.2,0c1.2-1.2,1.2-3.1,0-4.2C17.1,74.3,15.2,74.3,14,75.5z M17.6,79.1
	                                        c-0.8,0.8-2.1,0.8-2.9,0s-0.8-2.1,0-2.9c0.8-0.8,2.1-0.8,2.9,0C18.4,77,18.4,78.3,17.6,79.1z"></path>
                                        <polygon points="16.9,76.6 16.2,77.4 15.4,76.6 15.1,76.9 15.9,77.6 15.1,78.4 15.4,78.6 16.2,77.9 16.9,78.6 17.2,78.4 16.4,77.6
	                                        17.2,76.9 "></polygon>
                                        <path d="M24,75.5c-1.2,1.2-1.2,3.1,0,4.2c1.2,1.2,3.1,1.2,4.2,0c1.2-1.2,1.2-3.1,0-4.2C27,74.3,25.1,74.3,24,75.5z M27.5,79.1
	                                        c-0.8,0.8-2.1,0.8-2.9,0c-0.8-0.8-0.8-2.1,0-2.9c0.8-0.8,2.1-0.8,2.9,0C28.3,77,28.3,78.3,27.5,79.1z"></path>
                                        <polygon points="26.8,76.6 26.1,77.4 25.3,76.6 25.1,76.9 25.8,77.6 25.1,78.4 25.3,78.6 26.1,77.9 26.8,78.6 27.1,78.4 26.3,77.6
	                                        27.1,76.9 "></polygon>
                                        <path d="M33.9,75.5c-1.2,1.2-1.2,3.1,0,4.2c1.2,1.2,3.1,1.2,4.2,0c1.2-1.2,1.2-3.1,0-4.2C37,74.3,35.1,74.3,33.9,75.5z M37.5,79.1
	                                        c-0.8,0.8-2.1,0.8-2.9,0s-0.8-2.1,0-2.9c0.8-0.8,2.1-0.8,2.9,0C38.3,77,38.3,78.3,37.5,79.1z"></path>
                                        <polygon points="36.8,76.6 36,77.4 35.3,76.6 35,76.9 35.8,77.6 35,78.4 35.3,78.6 36,77.9 36.8,78.6 37,78.4 36.3,77.6 37,76.9 "></polygon>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="feedbacks">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="headline-lg">What Clients Say About Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="feedback">
                        <i class="bi bi-person"></i>
                        <div>
                            <p>
                                Plankton is one the best electrical engineering companies in maldives.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feedback">
                        <i class="bi bi-person"></i>
                        <div>
                            <p>
                                We have been impressed with your technical knowledge and expertise in the industry.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feedback">
                        <i class="bi bi-person"></i>
                        <div>
                            <p>
                                Highly recommend Plankton Engineering.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="feedback">
                        <i class="bi bi-person"></i>
                        <div>
                            <p>
                                Once again, Plankton Engineering provided us a beautiful ATS Panel! And even before given delivery date! Thank you!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="feedback">
                        <i class="bi bi-person bi-2x"></i>
                        <div>
                            <p>
                                You are doing an impeccable job and we are looking forward to do more business with you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="branding">
        <div class="branding">
            <div class="container">
                <ul>
                    <li>
                        <img class="img-responsive" src="images/branding/Delab.png"loading="lazy" />
                    </li>
                    <li>
                        <img class="img-responsive" src="images/branding/DSE.png" loading="lazy"/>
                    </li>
                    <li>
                        <img class="img-responsive" src="images/branding/logo_cetinka.png" loading="lazy"/>
                    </li>
                    <li>
                        <img class="img-responsive" src="images/branding/logo_ide.png" loading="lazy"/>
                    </li>
                    <li>
                        <img class="img-responsive" src="images/branding/logo_indoasian.png" loading="lazy"/>
                    </li>
                    <li>
                        <img class="img-responsive" src="images/branding/logo_panasonic.png" loading="lazy"/>
                    </li>
                    <li>
                        <img class="img-responsive" src="images/branding/visbo.png" loading="lazy"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>