@page "/services"

<PageTitle>Services</PageTitle>

<div class="container">
	<div class="row">
		<blockquote id="service">
			<h4>
				<span>
					We understand that our business depends on your success. Therefore, we leave no stones unturned to ensure that quality, reliability, flexibility and safety are given our utmost consideration so that you get products and services that keep on giving you savings, year after year.
				</span>
			</h4>
		</blockquote>
	</div>
	<div class="row service-col">
		<div class="col-md-3">
			<img class="img-responsive" src="images/services/ats-panel.png" />
		</div>
		<div class="col-md-9">
			<h3 class="headline">
				<span>Design &amp; Build Electric Panels</span>
			</h3>
			<p class="text-justify">
				We are specialized in designing, assembling and installation of generator synchronizing panels, metering panels, distribution panels, ATS Panels &amp; VFD Panels. These panels are fabricated by our engineers using high quality materials and electrical components. We maintain industrial quality standards and procedures to ensure the durability and efficiency of our panels. In addition, our panels are environment friendly and designed to use less power, provide high performance and less maintenance.
			</p>
			<p class="text-justify">
				All our panels are proudly designed and assembled in our workshop at Gulhifalhu, Maldives. We also build customized panels for our customers considering the constraints such as room space, location, etc. Our panels are already in-use in many residence buildings, power plants, airports, ports, hospitals, etc. in Maldives.
			</p>
			<p class="text-justify">
				From design through manufacture and delivery, Plankton Engineering commits its considerable resources to giving our customers the products they need, when they need them.
			</p>
		</div>
	</div>
	<div class="row service-col">
		<div class="col-md-3"><img class="img-responsive" src="/images/services/lightning-col.png"></div>
		<div class="col-md-9">
			<h3 class="headline"><span>Lightning Protection System</span></h3>
			<p class="text-justify">
				A lightning strike can have particularly serious consequences for buildings and structures owing to their location or type of construction. As engineers, we provide professional consultancy and solutions to ensure the safety of your homes, power plants and other buildings from destructive impacts of lightning strikes. Our engineers are equipped with technical training, knowledge and experience, also with regard to applicable standards, able to design, install and inspect lightning protection systems.
			</p>
			<p class="text-justify">
				We also provide tailored-made lightning protection systems specially designed for industries such as airports, factories, resorts, power plants and oil storages in accordance with standards and regulations.
			</p>
		</div>
	</div>
	<div class="row service-col">
		<div class="col-md-3"><img class="img-responsive" src="/images/services/laamu.png"></div>
		<div class="col-md-9">
			<h3 class="headline"><span>Consultancies</span></h3>
			<p class="text-justify">
				With many years of experience in the field of electromechanical engineering, our consultancy expert team is dedicated to identifying potential opportunities and delivering solutions to improve power infrastructure, reduce carbon emission and costs. We audit and inspect small-medium sized power plants in order to analyse current processes and conditions, identifying and evaluating opportunities to improve energy performance.
			</p>
			<p class="text-justify">
				Our extensive experience in the energy industry and passion for serving our clients, we are always ready to deliver our expertise in any queries that may arise. We understand that energy decisions are important to your business. Therefore, our goal is to deliver you the best consultancies to make best decisions for your business.
			</p>
		</div>
	</div>
	<div class="row service-col">
		<div class="col-md-3"><img class="img-responsive" src="/images/services/troubleshooting.png"></div>
		<div class="col-md-9">
			<h3 class="headline"><span>Troubleshooting Power Systems</span></h3>
			<p class="text-justify">
				Troubleshooting and commissioning of electric power systems is essential to the safe start-up of any power system, regardless of its size or type. Inexperience and poor planning will certainly result in prolonged delays in the start-up which can lead to costly productivity losses.
			</p>
			<p class="text-justify">
				Through our efforts in achieving electrical engineering excellence, engineers at Plankton Engineering are well trained to troubleshoot and commissioning of power systems. In the last 10 years, our engineers have gained numerous experience in the field by commissioning hundreds of power systems in community and resort islands in Maldives.
			</p>
			<p class="text-justify">
				Plankton Engineering is well equipped with high-tech machineries, qualified personal having expertise in project planning, power system performance evaluation, power plant sound proofing, testing and commissioning of all types of power systems.
			</p>
		</div>
	</div>
	<div class="row service-col">
		<div class="col-md-3"><img class="img-responsive" src="/images/services/training.png"></div>
		<div class="col-md-9">
			<h3 class="headline"><span>Training in Power System Related Area</span></h3>
			<p class="text-justify">
				Our power plant operation and maintenance training programs use leading-edge, innovative technologies to help meet challenges that power plants faces today.
			</p>
			<p class="text-justify">
				Training programmes we offer consists of operation and maintenance of power plant equipment, log keeping and maintenance record keeping, inventory management, finance management, administrative methods, work safety, fire fighting, waste management and emission issues.
			</p>
			<p class="text-justify">
				We use various training materials and coursework to create an engaging and compelling classroom experience through interactive multimedia instruction and forward-thinking courseware development strategies.
			</p>
		</div>
	</div>
	<div class="row service-col">
		<div class="col-md-3"><img class="img-responsive" src="/images/services/acb-col.png"></div>
		<div class="col-md-9">
			<h3 class="headline"><span>Design, Procurement, Installation and Commissioning of Plants</span></h3>
			<p class="text-justify">
				We have successfully designed and commissioned a large number of projects involving medium voltage equipment, diesel generators, DC power supply systems, power plants sound proofing systems and ventilations systems.
			</p>
			<p class="text-justify">
				Our engineers are proficient of designing small-medium sized power plants following proper standards and equipment. We also supply required machineries and SCADA systems to monitor and control power systems. However, as a standard practice we hand-in large scale projects only if the project is financed in advance.
			</p>
		</div>
	</div>
	<div class="row service-col">
		<div class="col-md-3"><img class="img-responsive" src="/images/services/renewable.png"></div>
		<div class="col-md-9">
			<h3 class="headline"><span>Harnessing Renewable Energy</span></h3>
			<p class="text-justify">
				Despite the challenges of harnessing renewable energy sources and the challenges of delivering renewable power to power supply grids worldwide, wind and solar are pushed as the solutions for weaning the global economy off of fossil fuels.
			</p>
			<p class="text-justify">
				Maldives being a country entirely dependent on imported fossil fuel in meeting its energy needs have made electricity expensive and unsustainable. Therefore, we provide affordable power solutions from the renewable sources available such as solar and wind energy.
			</p>
			<p>
				Our aim is to bring positive impact on the environment by choosing a cleaner energy source that lowers your utility bills for real savings after month, year after year.
			</p>
		</div>
	</div>
</div>

@code {

}
